In [ ]:
# use for loop, make reservation
# traveling = yes or no, if yes then
# enter no of people traveling
# enter name, age, gender = print()
traveling = input('are you traveling')
while traveling == 'yes':
    num = int(input('number of people traveling'))
    for num in range(1, num + 1):
        name = input('Name:')
        age = input('Age:')
        gender = input('Male' or 'Female')
        print(name, ' ', age, ' ', gender)
    traveling = input('Oops! Forgot someone!')

In [ ]:
# strings
fruit = 'banana'
letter = fruit[1]
letter

In [ ]:
i = 1
fruit[i]
fruit[i+1]
len(fruit)

In [ ]:
# string indices must be integers only
letter = fruit[1.5]

In [ ]:
length = len(fruit)
last = fruit[length]

In [ ]:
fruit = 'banana'
length = len(fruit)
last = fruit[length-1]
last

In [ ]:
# looping through strings
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index += 1

In [ ]:
for letter in fruit:
    print(letter)

In [ ]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    print(letter + suffix)

In [ ]:
s = 'Monty Python'
s [0:5]
s [6:12]

In [ ]:
fruit[3:]

In [ ]:
fruit[:3]

In [ ]:
fruit[3:3]

In [ ]:
fruit[:]

In [ ]:
# strings are immutable and cannot be changed
greeting = 'Hello Class!'
greeting[0] = 'J'

In [ ]:
greeting = 'Hello Class!'
new_greeting = 'J' + greeting[1:]
new_greeting

In [ ]:
# counting the no. of times the letter appears in a string
word = 'banana'
count = 0
for letter in word:
    if letter == 'a':
        count += 1
    print(count)

In [ ]:
word = 'banana'
new_word = word.upper()
new_word

In [ ]:
index = word.find(a)
index

In [ ]:
# boolean in strings
'a' in 'banana'

In [ ]:
str1 = 'Science'
str2 = 'Science'
str3 = 'SCIENCE'
print(id(str1))
print(id(str2))
print(id(str3))

In [ ]:
name = 'Science'
name

In [ ]:
# exclude last vector
name[-5:-1]
name.capitalize()
name.count('e')
name.find('c')
name.index('c')

In [ ]:
name.islower()
name.isupper()
name.lower()

In [ ]:
# replace I with $
name.replace('I','$')

In [ ]:
# clean version of string
name.strip()

In [ ]:
a = 'we have data analytics class'
a.split('have')

In [ ]:
a = 'python'
b = 'cogent'
a + b
#a * 3
#a + b * 2

In [ ]:
c = 'you can learn %s easily at %s' %(a,b)
c

In [ ]:
c = f'you can learn {a} easily at {b}'
c

In [ ]:
c = ' you can learn {a} easily at {b}' .format(a=a,b=b)
c

In [ ]:
from string import Template
c = Template('you can learn $a easily at $b')
c.substitute(a=a,b=b)

In [ ]:
str = input('enter a string')
length = len(str)
for a in range(-1,(-length),-1):
    print(str[a])

In [ ]:
x = 'Every' + 'Day'
x

In [ ]:
print(ord('A'))
print(chr(65))

In [ ]:
# palindrome: the word is the same forward and backward
st = input()
st2 = st[::-1]
if(st == st2):
    print('Palindrome')
else:
    print('Not Palindrome')

In [ ]:
from datetime import datetime
birthday = datetime(1990,1,1)
sentence = f'Jonathan has a birthday on {birthday:%B %d, %Y}'
print(sentence)

In [ ]:
# count no. of vectors (with the highest frequency)
from collections import Counter
test = 'CogentInfo'
rep = Counter(test)
rep

In [ ]:
# with max frequency
from collections import Counter
test = 'CogentServices'
rep = Counter(test)
rep = max(rep,key=rep.get)
rep

In [ ]:
# removing duplicates
from collections import OrderedDict
def remove_duplicate(s):
    return"".join(OrderedDict.fromkeys(s))
s = "siodcawkemaosienfkawe"
print(s)
print('after removing duplicates', remove_duplicate(s))

In [ ]:
# list
cheeses = ['Aman', 'Mandy', 'Guri']
numbers = [42, 123]
empty = []
print(cheeses,numbers,empty)

cheeses.insert(1,'Marko')
cheeses

print(cheeses[0])

In [ ]:
# boolean
cheeses = ['Aman', 'Mandy', 'Guri']
'Mandy' in cheeses

In [ ]:
# traversing list
for cheese in cheeses:
    print(cheese)

In [ ]:
# looping in an empty string will never happen
for x in []:
    print('hello all')

In [ ]:
a = ['spam', 1, ['Brown','Red','Pink'],[1,2,3]]
print(a)
len(a)

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

In [ ]:
[0] * 4

In [ ]:
# slice func
t = ['a', 'b', 'c', 'd', 'e', 'f']
t = [1:3]

In [ ]:
# update elements
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x','y']
t

In [ ]:
# append: adding elements at the end of the list
t = ['a', 'b', 'c']
t.append('d')
t

In [ ]:
# extend: also adds the elements at the end of the list
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

In [ ]:
# sort
t = ['d', 'c', 'e', 'a', 'b']
t.sort()
print(t)
t.reverse()
print(t)
print(min(t))

In [ ]:
t = [1,2,3]
sum(t)

In [ ]:
# delete an element from a list: pop, del, remove
t = ['a', 'b', 'c', 'd', 'e']
x = t.pop(1)
print(t)
print(x)

del t[1]
print(t)

t.remove('d')
print(t)

In [ ]:
# removing duplicate elements
l2 = ['a','b','c','d','d','e','d']
while(l2.count('d')):
    l2.remove('d')
print(l2)

In [ ]:
l2 = ['a','b','c','d','d','e','d']
while 'd' in l2:
    l2.remove('d')
print(l2)

In [ ]:
# removing multiple elements
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t [1:5]
t

In [ ]:
s = 'spam'
t = list(s)
t

In [ ]:
s = 'this is data analytics class'
t = s.split()
t

In [ ]:
# delimiter specifies which character to use a word boundaries
s = 'spam-spam-spam'
delimiter = '-'
t = s.split(delimiter)
t

In [ ]:
# join is inverse of split
t = ['this', 'is', 'data', 'analytics', 'class']
delimiter= ' '
s = delimiter.join(t)
s

In [ ]:
t = ['this', 'is', 'data', 'analytics', 'class']
delimiter = ''
s = delimiter.join(t)
s

In [ ]:
# whether two variables referred to the same object
a = 'banana'
b = 'banana'
a is b

In [ ]:
# in case of list, it refers to two different objects
a = [1,2,3]
b = [1,2,3]
a is b

In [ ]:
# if the aliased object is mutable, changes made with on alias affect the other
b[0] = 42
a

In [ ]:
t1 = [1,2]
t2 = t1.append(3)
t1

In [ ]:
t1 = [1,2]
t2 = t1.append(3)
t1

In [ ]:
# + operator create a new list
t3 = t1 + [4]
t1
t3

In [ ]:
def tail(t):
    return t[1:]
letters = ['a', 'b', 'c']
rest = tail(letters)
rest

In [ ]:
mystr = 'this is python'
print(mystr.count('t'))
print(mystr.capitalize())
print(mystr.replace('this','that'))

In [ ]:
# skips to the third element
list = [1,2,3,4,5,6,7,8,9]
print(list[::3])

In [ ]:
# evaluate func
a = '20'
b = '30'
print(a + b)
print(eval(a)+eval(b))

In [ ]:
# clone list: duplicating the same elements
def Cloning(li1):
    li_copy = li1[:]
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print(li1)
print(li2)

In [ ]:
# extend
def Cloning(li1):
    li_copy = []
    li.copy.extend(li1)
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print(li1)
print(li2)

In [ ]:
# appending
def Cloning(li1):
    li_copy = []
    for item in li1: li_copy.append(item)
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print(li1)
print(li2)

In [ ]:
# cloning
def Cloning(li1):
    li_copy = [i for i in li1]
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print(li1)
print(li2)

In [ ]:
# copy function
def Cloning(li1):
    li_copy = []
    li_copy = li1.copy()
    return li_copy
li1 = [4,8,2,10,15,18]
li2 = Cloning(li1)
print(li1)
print(li2)

In [ ]:
original_list = [1,2,3]
copy_list = list(original_list)
copy_list

In [ ]:
# changes the elements in the copy list
copy_list[0] = 2

In [ ]:
# looping through the elements within a list
a = [1, 2, 3, 4, 5]
b = [num**2 for num in a]
print(b)

In [ ]:
# concat
list1 = ['app', 'bo', 'co', 'doc']
list2 = ['le', 'y', 'ol', 'tor']
list3 = []
for i in range(len(list1)):
    list3.append(list1[i]+list2[i])
print(list3)

In [ ]:
# reverse order
a = [1,2,3,4,5]
b = [::-1]
print(b)

In [ ]:
# dictionary
eng2sp = {'one':'uno', 'two':'dos', 'three':'tres'}
eng2sp

In [ ]:
# get function
eng2sp.get('one')

In [ ]:
# zipping of keys and values
keys = ['Jonathan', 'Chris', 'Sainath', 'Muafo']
values = ['Python', 'Java', 'SQL', 'Rstudio']
data = dict(zip(keys,values))
data

In [ ]:
# adding on value
data['Sao'] = 'Tableau'
data

In [ ]:
del data['Sao']
data

In [ ]:
# update
data.update({'Sainath':'Power BI'})
print(data)

In [ ]:
print(data.items())

In [ ]:
data.clear()
print(data)

In [ ]:
a = {1:'ABC', 2:'DEF', 3:'GHI'}
b = a.copy()
print(b)

In [ ]:
print(a.values())

In [ ]:
# delete
print(a.pop(2))
print(a)

In [ ]:
# create a dictionary whose keys are names of the month and values are number of days
D = {'Jan':31, 'Feb':28, 'March':31, 'April':30, 'May':31, 'June':30, 'July':31, 'Aug':31, 'Sept':30, 'Oct':31, 'Nov':30, 'Dec':31}
D

In [ ]:
m = input()
print(D[m])

In [ ]:
# print key value pair sorted by keys
# print key value pair sorted by values
for i in sorted(D.keys()):
    print(i,D[i])
    
for i in sorted(D.keys=D.get):
    print(i)

In [ ]:
incomes = {'table':5600,'chair':3500, 'sofa':5000}
total_income = sum([value for value in incomes.values()])
total_income

In [ ]:
# tuples: nothing more than a string with a comma
t = tuple('lupins')
t

# accessing
t[0]

# slicing
t[1:3]

# can't be changed but it can be replaced
t = ('L',) + t[1:]
t

(0,1,2) < (0,3,4)

In [ ]:
t = divmod(7,3)
t

In [ ]:
mycars = ('ford', 'mercedes', 'audi')
print(len(mycars))

In [ ]:
mycarstemp = list(mycars)
mycarstemp

In [ ]:
# update value in a new list
mycarstemp[0] = 'Harry'

# returning back to tuple
mycars = tuple(mycarstemp)
mycars

In [ ]:
b = (1,2,3,4,5,6,7,8,9,10)
print(b)
b[0:]

In [ ]:
b[0:8]

In [ ]:
# concat tuples
a = (11,12,13,14,15,16,17,18,19)
print(a)
c = b + a
print(c)

In [ ]:
m = (1,1,1,1,1,1,1,1,2,3,4,5)
m.count(1)

In [ ]:
# tuple constructor
a = [1,2,3]
print(a)
b = tuple(a)
print(b)

In [ ]:
# iterating through tuple
a = (1,2,3,4,5,6,7,8,9)
for i in a:
    print(i)

In [ ]:
# boolean for tuples
print(9 in a)

In [ ]:
# accessing nested tuples
a = (10,20,30,(50,60))
b = (50,60)
a = (10,20,30,b)
print(a)
print(b)
print(a[0])

In [ ]:
# replication operator
t = [1,2,3]
t*3

In [ ]:
# sorting and reversing
tup = (34,67,1,4,98,2,6,8)
t = sorted(tup)
print(t)

t = sorted(tup, reverse=True)
print(t)

In [ ]:
# unpacking values
red, green, blue, yellow, black = mytuple

# check item existence: yellow = orange, red = black, black = red
if 'green' in mytyple and mytuple[1] == 'green':
    yellow = 'orange'
    red, black = black,red

# pack values
mytuple = (red,green,blue,yellow,black)
mytuple

In [ ]:
# Assignment: verify phone number is in the given format or not
# 000-000-0000 correct format
# len(st!=12) false, st[3]!= -, st[7]!= - false
import re
phone = input('Please write your phone number with hyphen: ')
match = re.findall( r"([2-3]-)(9|(1(?:0|1)))", phone )
matched = []
for i in range( len(match) ):
    matched.append( match[i][0] + match[i][1] )
print( matched )