In [ ]:
two_digit_number = input("type two digit number")
print(type(two_digit_number))

In [ ]:
two_digit_number = input("type two digit number ")
print(type(two_digit_number))
first_digit = int(two_digit_number[0])
second_digit = int(two_digit_number[1])
two_digit_number = second_digit + first_digit
print(two_digit_number)

In [ ]:
print('enter first number')
n1 = input()
print('enter second number')
n2 = input()
print('sum of these numbers are ', int(n1)+int(n2))

In [ ]:
# declaring a list and accessing its elements
mylist = [10,20,30,'pink','brown']
mylist
mylist[2]

# updating elements of list
mylist[2] = 40
mylist

# append add value at the end of the list
mylist.append(20)
mylist

# insert add value in a specific index position
mylist.insert(4,90)
mylist

# reverse func reverses the index order of values
mylist.reverse()
mylist

In [ ]:
# declaring dictionaries
subjects = {1:'physics', 2:'chemistry', 3:'biology'}
subjects

#accessing elements/get
subjects[2]
subjects.get(3)

# updating values
subjects[3] = 'mathematics'
subjects

# add
subjects[4] = 'zoology'
subjects

In [ ]:
# functions for tuples
colors = (1, 2, 3, 'pink', 'green', 'blue', 'green')
colors[2]
colors.count('green')

In [ ]:
list(range(11))
list(range(2,10,2))

In [ ]:
# scope of variable
def myfunc():
  y=10
  print(y)
myfunc()

# scope of variable, using variable outside the function
def myfunc():
  y=10
  print(y)
myfunc()
print(y)

In [ ]:
# local scope: variable created inside a func belonging to the func only to be used inside the func itself
def myfunc():
  x = 100
  print(x)
myfunc()

# func within a func
def myfunc():
  x = 100
  def myinnerfunc():
    print(x)
  myinnerfunc()
myfunc()

# global scope: variable created outsed of a func which can be reused or reiterated
x = 100
def myfunc():
  print(x)
myfunc()
print(x)

In [ ]:
type(50)
int(32.5)
num = 67.9

#check and print type num variable
print(type(num))

converted_num = int(num)
print(type(converted_num))

In [ ]:
float(30)
float('3.14159')

In [1]:
str(32)

'32'

In [3]:
num = 10
print('type of variable', type(num))

converted_num = str(num)
print('type of variable', type(converted_num))

type of variable <class 'int'>
type of variable <class 'str'>

In [4]:
# creating an alias for import funcs
import math as m
math.sqrt(25)
m.sqrt(25)

5.0

In [5]:
from math import *
print(factorial(5))
print(math.fabs(-2.5))
print(math.fsum([1,2.5,3]))
print(math.gcd(8,12))
print(math.exp(1))
print(math.lcm(8,12))
print(math.log(10,2))
print(math.log(5,5))
print(math.sin(10))
print(math.sinh(10))

120
2.5
6.5
4
2.718281828459045
24
3.3219280948873626
1.0
-0.5440211108893698
11013.232874703393

In [6]:
# math.log10 signal to noise ratio in decimals
from math import *
signal_power = 100
noise_power = 80
ratio = signal_power/noise_power
math.log10(ratio)
decibels = 10 * ratio
decibels

12.5

In [9]:
# findin the sine of radians
from math import *
radians = 0.7
height = math.sin(radians)
height

0.644217687237691

In [17]:
def print_schedule():
    print('I go to office, and I am OK')
    print('I sleep all night and I work all day')
print_schedule()

I go to office, and I am OK
I sleep all night and I work all day

In [18]:
print(print_schedule)
type(print_schedule)

<function print_schedule at 0x000001B2E1BB0EE0>

function

In [19]:
def print_schedule():
    print('I go to office, and I am OK')
    print('I sleep all night and I work all day')
def repeat_schedule():
    print_schedule()
    print_schedule()
repeat_schedule()

I go to office, and I am OK
I sleep all night and I work all day
I go to office, and I am OK
I sleep all night and I work all day

In [2]:
import math
print(math.floor(2.9))
print(math.ceil(2.2))
print(math.pow(3,2))
print(math.pi)
print(math.e)

2
3
9.0
3.141592653589793
2.718281828459045

In [15]:
# func to verify if user has access to system or not
username = input('Enter your name')
password = input('Enter your password')
def has_access(usr, pwd):
    if usr == 'jabaker' and pwd == 'base1234':
        return True
    else:
        return False
verified = has_access(username, password)
if verified == True:
    print('Access Granted')
else:
    print('Access Denied')

Enter your name jabaker
Enter your password base1234

Access Granted

In [19]:
# function for addition and subtraction
def math(a,b):
    add = a + b
    sub = a - b
    return add, sub
add_result, sub_result = math(20,10)
print(add_result, sub_result)

30 10

In [ ]:
# division
minutes = 105
minutes/60

# floor division
minutes = 105
hours = minutes//100
hours

remainder = minutes%60
remainder

In [22]:
# operators
if x > 0:
    print('x is positive')
if x < 0:
    pass

if x % 2 == 0:
    print('x is even')
else:
    print('x is odd')
    
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')
    
if x == y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x and y are equal')

x is positive
x is even
x is less than y
x and y are equal

In [24]:
n = input()
if 'name' in n:
    print('OK')
else:
    print('NO')

 name

OK

In [ ]:
gears = int(input('enter no. of gears'))
if (gears >= 4):
    print('This is a vehicle with more than 4 gears')

In [25]:
age = int(input('enter your age'))
if (age >= 18):
    print('you are an adult')
else:
    print('child')

enter your age 40

you are an adult

In [39]:
# fix this to give you an error when a input != major
print('Please pick a major: Computers, Physics, Chemistry, Math, French, German')
major = input()
if (major == 'Computers'):
    degree = 'Software Systems'
    print('Congrats, you will be awarded', degree)
elif (major == 'Physics' or 'Chemistry' or 'Math'):
    degree = 'Applied Science'
    print('Congrats, you will be awarded', degree)
elif(major == 'French' or 'German'):
    degree = 'Languages'
    print('Congrats, you will be awarded', degree)
elif (major != ):
    print('Please choose a major from the options given')
if(degree == 'Software Systems'):
    print('Congrats, you will be added to an internship in Tech Companies')
elif (degree == 'Applied Science'):
    print('Congrats, you will be added to an internship in Research Labs')
elif(degree == 'Languages'):
    print('Congrats, you will be added to an internship in Foriegn Offices')
else:
    print('Please choose a major from the options given')

Please pick a major: Computers, Physics, Chemistry, Math, French, German

 English

Congrats, you will be awarded Applied Science
Congrats, you will be added to an internship in Research Labs

In [ ]:
# sum of natural no using recursive func
def recur_sum(n):
    if n <= 1:
        return n
    else:
        return n + recur_sum(n-1)
num = 20
if num < 0:
    print('enter positive number')
else:
    print('sum is', recur_sum(num))

In [1]:
# find the recursion limit by default
import sys
print(sys.getrecursionlimit())

3000

In [ ]:
# change the recursion limit
import sys
sys.getrecursionlimit(4000)
print(sys.getrecursionlimit())

In [3]:
def sum():
    a = 5
    b = 10
    c = a + b
    print(c)
sum()

def sum(a,b):
    c = a + b
    return c
sum(2,3)

15

5

In [2]:
# factorial recursion
def factorial(n):
    if n == 1:
        return 1
    else:
        recurse = factorial(n-1)
        result = n * recurse
        return result
factorial(4)

24

In [6]:
def area(side):
    temp = side ** 2
    return temp
area(4)

16

In [8]:
from math import *
import math
def area(radius):
    a = math.pi * radius**2
    return a
area(2)

12.566370614359172

In [40]:
# absolute_value (x)
x = abs(-7)
def myfunc():
    if x < 0:
        return x * -1
    else:
        return x
print(x)

7

In [32]:
# calculating distance function
from math import *
import math as m
def distance(x1,y1,x2,y2):
    return m.sqrt(((x1-x2)**2) + ((y1-y2)**2))
def area (r):
    return 3.14 * r**2
print(area(distance(3,0,4,0)))

3.14

In [31]:
def profit(prof_rate, principal_amt):
    return prof_rate * 0.01 * principal_amt
def future_investment(profit_amt):
    return profit_amt + 150000
print('Future Investment in $',future_investment(profit(9,50000)))

Future Investment in $ 154500.0

In [35]:
# increment
width = int(input('enter width of rect'))
length = int(input('enter length of rect'))

# increment2
def area_rec():
    area = width * length
print('area of rect is', area)
area_rec()

# increment3
def area_rec(width,length):
    area = width * length
    return area
print('area of rect', area_rec(width,length))

enter width of rect 2
enter length of rect 3

area of rect is <function area_rec at 0x00000224069FF160>
area of rect 6

In [40]:
# Assignment: name1, height1, weight1; name2, height2, weight2; name3, height3, weight3
# bmi_calculator(name, height, weight) = weight/(height**2)
# if bmi < 25 name + not overweight else: name + is overweight
name = input('Enter your name: ')
weight = float(input('Enter your weight: '))
height = float(input('Enter your height: '))

bmi = weight/(height**2)
print('Your BMI calculation is', bmi)
if (bmi < 25):
    print('name is not overweight')
else:
    print('name is overweight')

Enter your name:  Jonathan
Enter your weight:  59
Enter your height:  1.83

name is not overweight

In [ ]:
num = 0
while num < 5:
    num += 1
    print('num',num)

In [ ]:
# breaking in while loop
num = 0
while num < 5 :
    num += 1
    if num > 3:
        continue
    print('num', num)

In [ ]:
# while loop with else block
num = 0
while num < 3 :
    num += 1
    print ('num', num)
else:
    print('else block executed')

In [2]:
count = 0
while count < 10 :
    count += 1;
    if (count == 5): break
    print('Value of count ' + str(count))

Value of count1
Value of count2
Value of count3
Value of count4

In [31]:
# break
nums = [1, 2, 3, 4, 5]
for num in nums:
    if num == 3:
        print('Found')
        break
    print('num',num)

num 1
num 2
Found

In [32]:
# continue
nums = [1, 2, 3, 4, 5]
for num in nums:
    if num == 3:
        print('Found')
        continue
    print('num',num)

num 1
num 2
Found
num 4
num 5

In [6]:
# example
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
# example
x = 0
while x < 10:
    if x == 5;
        break
    print(x)
    x += 1

In [10]:
# iteration func
my_object = ['movies', 'travel', 'cooking']
iter_obj = iter(my_object)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

movies
travel
cooking

In [11]:
# iterator for sets
my_object = {'movies', 'travel', 'cooking'}
iter_obj = iter(my_object)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

movies
travel
cooking

In [12]:
my_object = {'orange', 'guava', 'apple'}
iter_obj = iter(my_object)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

apple
orange
guava

In [ ]:
# iterator for strings
my_object = 'movies'
iter_obj = iter(my_object)
print(next(iter_obj))
print(next(iter_obj))
print(next(iter_obj))

In [ ]:
my_object = [1, 2, 3, 4, 5, 6, 7, 8]
for i in my_object:
    print(i)

In [ ]:
# another method
my_obj = [1, 2, 3, 4, 5, 6, 7, 8]
iter_obj = iter(my_obj)
while True:
    try:
        element = next(iter_obj)
        print(element)
    except StopIteration:
        break

In [19]:
# using while loop take sum of all elements
given_list = [5, 4, 4, 3, 1, -2, -3, -5]
a = 0
i = 0
while given_list[i] > 0:
    a += given_list[i]
    i += 1
print(a)

In [29]:
# using for and break
given_list = [5, 4, 4, 3, 1, -2, -3, -5]
a = 0
for i in given_list :
    if i <= 0:
        break
    a += i
    print(a)

5
9
13
16
17

In [35]:
# while true loop
i = 0
while True :
    a += given_list[i]
    i += 1
    if given_list[i] <= 0:
        break
print(a)

85

In [ ]:
count = 0
while count < 9:
    print('Number:', count)
    count += 1
print('Hey Sianath')

In [37]:
numn = int(input('number'))
factorial = 1
if num < 0:
    print('must be positive')
elif num == 0:
    print('factorial = 1')
else:
    for i in range(1, num + 1):
        factorial *= i
print(factorial)

number -5

120

In [25]:
# pathagoreon numbers
# (3,4,5) (5,12,13) (6,8,10) (8,15,17) (9,12,15) (12,16,20)
from math import sqrt
n = int(input('maximal number:'))
for a in range(1, n + 1):
    for b in range(a, n):
        c_square = a**2 + b**2
        c = int(sqrt(c_square))
        if ((c_square - c **2) == 0):
            print(a,b,c)

maximal number: 18

3 4 5
5 12 13
6 8 10
8 15 17
9 12 15
12 16 20